   <!-- Marketing messaging and featurettes
    ================================================== -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <img src="../../../assets/img/hotel.jpg" alt="">
          <h1 class="display-4 fw-normal">Sobre Nosotros</h1>
          <p class="lead fw-normal">a lo largo de los últimos 70 años, la familia Del Sur fundo los hoteles SISRO para ofrecer el confort y la comodidad a los 
              frecuentes viajeros que llegaban. Perfeccionando el arte de la cocina Argentina como ningún otro Hotel. 
              Conducidos por un sueño, miembros de la familia abrieron el primer hotel contruido con chapas y maderas. 
              Hoy, 70 años después brindar el mayor confort a huespedes de todos los países. 
          </p>
          <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
        </div>
        <div class="product-device shadow-sm d-none d-md-block">
   
        </div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">

<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg style="color:ivory;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        <small class="d-block mb-3 text-muted" >© 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5 style="color:chocolate;">Páginas</h5>
        <ul class="list-unstyled text-small">
          <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="../">Inicio</a></li>
          <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="../habitaciones">Habitaciones</a></li>
          <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="../elhotel">Hoteles</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 style="color:chocolate;">Buscar</h5>
        <ul class="list-unstyled text-small">
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="../">Otra habitación</a></li>
        </ul>
      </div>
    </div>
  </footer>
