/* You can add global styles to this file, and also import other style files */
.DivError {
  background-color: rgb(248, 100, 100);
  font-family: Verdana;
  font-weight: bolder;
  font-size: small;
}

.DivErrorComent {
  background-color: rgb(248, 100, 100);
  font-family: Verdana;
  font-weight: bolder;
  font-size: small;
  width: 330px;
  margin-left: 1.5mm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
