/* You can add global styles to this file, and also import other style files */
.DivError {
  background-color: rgb(248, 100, 100);
  font-family: Verdana;
  font-weight: bolder;
  font-size: small;
}
