<table class="table table-hover table-dark ">
  <thead class="thead-dark">
    <th>ID</th>
    <!-- <th> </th> -->
    <th>Categoría_id / Categoría</th>
    <th>Camas Id / Descripción</th>
  </thead>
  <tbody *ngIf="habitaciones.length > 0; else fila">
    <tr *ngFor=" let habitacion of habitaciones">
        <td>{{habitacion.idHabitacion}}</td>
        <td>{{habitacion.cat_id}}</td>
        <td>{{habitacion.camas_id}}</td>
    </tr>
  </tbody>
  <!-- <tbody #fila>
  
  </tbody> -->
  <ng-template #fila>
    <tbody>
      <tr>
        <td colspan="4">No hay mas filas</td>
      </tr>
    </tbody>
  </ng-template>
</table>
