<div class="col-12" id="a2">
  <p-toast></p-toast>

  <br>
  <h1 align="center" style="color: white;" id="a2">Datos del Pasajero</h1>

  <table class="table table-hover table-dark" id="table">
    <thead class="thead-dark">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>TELEFONO</th>
      <th>MAIL</th>
    </thead>
    <tr >
      <td style="font-weight: bold;">{{datosreserva.nombre}}</td>
      <td style="font-weight: bold;">{{datosreserva.apellido}}</td>
      <td style="font-weight: bold;">{{datosreserva.dni}}</td>
      <td style="font-weight: bold;">{{datosreserva.telefono}}</td>
      <td style="font-weight: bold;">{{datosreserva.mail}}</td>
  </table>

  <button class="btn btn-outline-warning" (click)="goBack()">Volver</button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
