<app-home></app-home>

<div class="main">
<div class="col-12">
    <h1 align="center" style="color: chocolate;">Reservas</h1>
    <table class="table table-hover table-striped table-dark ">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Fecha de reserva</th>
        <th>ID Habitación</th>
        <th>Pasajeros</th>
        <th>ID Usuario</th>
        <th>Valor total</th>
      </thead>   
        <tr *ngFor= "let reservas of reserva">
          <td></td>
            <td>{{reservas.idReserva}}</td>
            <td>{{reservas.fechaDesde}}</td>
            <td>{{reservas.fechaHasta}}</td>
            <td>{{reservas.fechaReserva}}</td>
            <td>{{reservas.habitacion_id}}</td>
            <td>{{reservas.cantidadPax}}</td>
            <td>{{reservas.persona_id}}</td>
            <td>{{reservas.precioTotal}}</td> 
        </tr>