<app-home></app-home>
<div class="container" id="a2">
  <p-toast></p-toast>
  <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button>

  <br>
  <h1 align="left" style="color: white;" id="a2">Datos de la Reserva</h1>

  <div id="a2">
    <div class="form-group">
      <label>ID:</label>
      <input id="input-datos" type="text" name="nombre" [(ngModel)]="datosreserva.idReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Desde:</label>
      <input type="text" id="input-datos" name="apellido" [(ngModel)]="datosreserva.fechaDesde" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Hasta:</label>
      <input type="text" id="input-datos" name="dni" [(ngModel)]="datosreserva.fechaHasta" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Reserva:</label>
      <input type="text" id="input-datos" name="telefono" [(ngModel)]="datosreserva.fechaReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Id Hab:</label>
      <input type="text" id="input-datos" name="mail" [(ngModel)]="datosreserva.habitacion_id" class="form-control">
    </div>

    <div class="form-group">
      <label>Cantidad Pax:</label>
      <input type="text" id="input-datos" name="contrasenia" [(ngModel)]="datosreserva.cantidadPax"
        class="form-control">
    </div>
    <div class="form-group">
      <label>Id Persona:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.persona_id"
        placeholder="Confirmar" class="form-control">
    </div>
    <div class="form-group">
      <label>Precio Total:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.precioTotal"
        placeholder="Confirmar" class="form-control">
    </div>
  </div>
  <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button>
  <br>
  <br>
  <br>
  <br>
</div>
