<div class="table-responsive">
  <div class="col-12">
    <h1 align="center" style="color: chocolate;">Ingresos Diarios</h1>
    <table class="table table-hover table-dark" id="table">
      <thead class="thead-dark">
        <th>Numero de Reserva</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Ingreso</th>
        <th>Fecha Egreso</th>
        <th>Precio Final</th>
        <th>Nro Habitacion</th>
        <th>Estado</th>
        <th>Validar</th>
      </thead>
      <!-- <tr>
        <td style="font-weight: bold;">3</td>
        <td style="font-weight: bold;">Pablo</td>
        <td style="font-weight: bold;">Antepazo</td>
         <td style="font-weight: bold;">09/11/21</td>
        <td style="font-weight: bold;">12/11/21</td>
        <td style="font-weight: bold;">9887</td>
        <td style="font-weight: bold;">4</td>
        <td style="font-weight: bold;">Suite Premium</td>
        <td ><a>Validado</a></td>
      </tr>
      <tr>
        <td style="font-weight: bold;">5</td>
        <td style="font-weight: bold;">Juan</td>
        <td style="font-weight: bold;">Di Biasi</td>
         <td style="font-weight: bold;">09/11/21</td>
        <td style="font-weight: bold;">12/11/21</td>
        <td style="font-weight: bold;">3777</td>
        <td style="font-weight: bold;">3</td>
        <td style="font-weight: bold;">Triple</td>
        <td><a class="btn btn-outline-danger btn-block">Validar</a></td>
      </tr>
        <tr>
        <td style="font-weight: bold;">9</td>
        <td style="font-weight: bold;">Emiliano</td>
        <td style="font-weight: bold;">De Vuono</td>
         <td style="font-weight: bold;">27/11/21</td>
        <td style="font-weight: bold;">1/12/21</td>
        <td style="font-weight: bold;">4500</td>
        <td style="font-weight: bold;">5</td>
        <td style="font-weight: bold;">Simple</td>
        <td><a class="btn btn-outline-danger btn-block">Validar</a></td>
      </tr> -->
      <tr *ngFor="let reservas of reservasPendientes">
        <td style="font-weight: bold;">{{reservas.idReserva}}</td>
        <td style="font-weight: bold;">{{reservas.nombre}}</td>
        <td style="font-weight: bold;">{{reservas.apellido}}</td>
        <td style="font-weight: bold;">{{reservas.Ingreso}}</td>
        <td style="font-weight: bold;">{{reservas.Egreso}}</td>
        <td style="font-weight: bold;">{{reservas.Precio_Final}}</td>
        <td style="font-weight: bold;">{{reservas.habitacion_id}}</td>
        <td style="font-weight: bold;">{{reservas.descripcion}}</td>
        <td>
          <a class="btn btn-outline-light btn-block" (click)=realizarCheckIn(reservas.idReserva)>Confirmar</a>
        </td>
    </table>
    <button class="btn btn-outline-warning" (click)="goBack()" id="a2">Volver</button>
    <!-- <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button> -->
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
