/* .main {
    margin-left: 180px; /* Same as the width of the sidenav */
/* font-size: 28px; /* Increased text to enable scrolling */
/* padding: 0px 10px;
  } */
#a {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

#disp {
  background-color: transparent;
  font-weight: bold;
  color: green;
}

#noDisp {
  background-color: transparent;
  font-weight: bold;
  color: yellow;
}

#fin {
  background-color: transparent;
  font-weight: bold;
  color: red;
}

#pend {
  background-color: transparent;
  font-weight: bold;
  color: orange;
}

#canc {
  background-color: transparent;
  font-weight: bold;
  color: white;
}

#a2 {
  margin-left: 4mm;
}

#first {
  float: left;
}

#label {
  font-weight: bold;
  color: white;
}
