
<app-home></app-home>
<div class="main">
<div class="col-12">
    <h1 align="center" style="color: chocolate;">Reservas</h1>
    <table class="table table-hover table-dark ">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Nombre</th>
        <th>Hotel</th>
        <th>Habitación</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Fecha de reserva</th>
        <th>Estado</th>
        <th>Monto</th>
      </thead>   
        <tr *ngFor= "let reservas of reserva">
          <td>{{reservas.idReserva}}</td>
          <td style="color: red;">sin Datos</td>
            <td style="color: red;">sin Datos</td>
            <td>{{reservas.habitacion_id}}</td>
            <td class="event" data-date="2021-02-01T03:00:00.000Z">{{reservas.fechaDesde}}
              <!-- <div class="date"></div> -->
            </td>
            <td class="event" data-date="(reservas.fechaHasta)">{{reservas.fechaHasta}}    
            <!-- <div class="date"></div> -->
            </td>
            <td class="event" data-date="(reservas.fechaReserva)">{{reservas.fechaReserva}}
              <!-- <div class="date"></div> -->
            </td>
            <td style="color: red;">Sin Datos</td>
            <td>{{reservas.precioTotal}}</td>     
        </tr>