<app-home></app-home>
<div class="main">
  <div class="col-12">
    <h1 align="center" style="color: chocolate;">Reservas</h1>
    <table class="table table-hover table-dark ">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Fecha de reserva</th>
        <th>Estado</th>
      </thead>
      <tr *ngFor="let reservas of reserva">
        <td><a id="a" class="primary" routerLink="../datosreserva/{{reservas.idReserva}}"
            (click)=datosreservas(reservas)>{{reservas.idReserva}}
          </a></td>
        <td class="event" data-date="2021-02-01T03:00:00.000Z">{{reservas.fechaDesde}}
          <!-- <div class="date"></div> -->
        </td>
        <td class="event" data-date="(reservas.fechaHasta)">{{reservas.fechaHasta}}
          <!-- <div class="date"></div> -->
        </td>
        <td class="event" data-date="(reservas.fechaReserva)">{{reservas.fechaReserva}}
          <!-- <div class="date"></div> -->
        </td>
        <td [ngSwitch]="reservas.estado">
          <ul *ngSwitchCase="'Aprobada'" id="aprob">{{reservas.estado}}</ul>
          <ul *ngSwitchCase="'Pendiente'" id="pend">{{reservas.estado}}</ul>
          <ul *ngSwitchCase="'Anulada'" id="anul">{{reservas.estado}}</ul>
          <!-- {{reservas.estado}} -->
        </td>
      </tr>
