/* .main {
    margin-left: 180px; /* Same as the width of the sidenav */
   /* font-size: 28px; /* Increased text to enable scrolling */
   /* padding: 0px 10px;
  } */
#a{
  background-color:rgba(0, 0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

#aprob
{
  color: green;
  background-color: transparent;
  font-weight: bold;
}

#pend
{
  background-color: transparent;
  font-weight: bold;
  color: orange;
}

#anul
{
  background-color: transparent;
  font-weight: bold;
  color: red;
}

#a2{
  margin-left: 4mm;
}
