



<br>
<div class="row">
  <div class="col-12">
    <h1 align="center" style="color: chocolate;">Reservas</h1>
    <table class="table table-hover table-dark ">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Fecha de reserva</th>
        <th>Estado</th>
      </thead>
      <tr *ngFor="let reservas of reserva">
        <td><a id="a" class="primary" routerLink="../datosreserva/{{reservas.idReserva}}"
            (click)=datosreservas(reservas)>{{reservas.idReserva}}
          </a></td>
        <td class="event">{{reservas.checkIn | date:'dd/MM/yyyy'}}
          <!-- <div class="date"></div> -->
        </td>
        <td class="event">{{reservas.checkOut | date:'dd/MM/yyyy'}}
          <!-- <div class="date"></div> -->
        </td>
        <td class="event" >{{reservas.fechaReserva | date:'dd/MM/yyyy'}}
          <!-- <div class="date"></div> -->
          <td class="event">{{reservas.estado_id}}
        </td>
        <td [ngSwitch]="reservas.estado_id">
          <ul *ngSwitchCase="'Aprobada'" id="aprob">{{reservas.estado_id}}</ul>
          <ul *ngSwitchCase="'Pendiente'" id="pend">{{reservas.estado_id}}</ul>
          <ul *ngSwitchCase="'Anulada'" id="anul">{{reservas.estado_id}}</ul>
          <!-- {{reservas.estado}} -->
        </td>
      </tr>
    </table>
    <div align="center" class="flex"><button class="btn btn-outline-warning" (click)="goBack()" id="a2">Volver</button></div>>
  </div>
</div>
