<div class="container" id="a2">
  <p-toast></p-toast>
  <!-- <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button> -->

  <br>
  <h1 align="left" style="color: white;" id="a2">Datos de la Reserva</h1>

  <!-- <div id="a2">
    <div class="form-group">
      <label>ID:</label>
      <input id="input-datos" type="text" name="nombre" [(ngModel)]="datosreserva.idReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Desde:</label>
      <input type="text" id="input-datos" name="apellido" [(ngModel)]="datosreserva.fechaDesde" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Hasta:</label>
      <input type="text" id="input-datos" name="dni" [(ngModel)]="datosreserva.fechaHasta" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Reserva:</label>
      <input type="text" id="input-datos" name="telefono" [(ngModel)]="datosreserva.fechaReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Id Hab:</label>
      <input type="text" id="input-datos" name="mail" [(ngModel)]="datosreserva.habitacion_id" class="form-control">
    </div>

    <div class="form-group">
      <label>Cantidad Pax:</label>
      <input type="text" id="input-datos" name="contrasenia" [(ngModel)]="datosreserva.cantidadPax"
        class="form-control">
    </div>
    <div class="form-group">
      <label>Id Persona:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.persona_id"
        placeholder="Confirmar" class="form-control">
    </div>
    <div class="form-group">
      <label>Precio Total:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.precioTotal"
        placeholder="Confirmar" class="form-control">
    </div>
  </div>
  <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button>
  <br>
  <br>
  <br>
  <br>
</div> -->


  <table class="table table-hover table-dark ">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Fecha de reserva</th>
      <th>Precio Final</th>
      <th>Estado Actual</th>
      <th>ID Habitacion</th>
    </thead>
    <tr *ngFor="let reservas of reserva">
      <td>{{reservas.idReserva}}</td>
      <td class="event">{{reservas.checkIn | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.checkOut | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.fechaReserva | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.precioTotal}}
        <!-- <div class="date"></div> -->
      </td>
      <!-- <td class="event">{{reservas.descripcion}}
      </td> -->
      <td [ngSwitch]="reservas.descripcion">
        <ul *ngSwitchCase="'Disponible'" id="disp">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'No Disponible'" id="noDisp">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Finalizado'" id="fin">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Pendiente'" id="pend">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Cancelada'" id="canc">{{reservas.descripcion}}</ul>
        <!-- {{reservas.estado}} -->
      </td>
      <td class="event">{{reservas.habitacion_id}}
        <!-- <div class="date"></div> -->
      </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
