<div class="container" id="a2">
  <p-toast></p-toast>
  <!-- <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button> -->

  <br>
  <h1 align="left" style="color: white;" id="a2">Datos de la Reserva</h1>

  <!-- <div id="a2">
    <div class="form-group">
      <label>ID:</label>
      <input id="input-datos" type="text" name="nombre" [(ngModel)]="datosreserva.idReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Desde:</label>
      <input type="text" id="input-datos" name="apellido" [(ngModel)]="datosreserva.fechaDesde" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Hasta:</label>
      <input type="text" id="input-datos" name="dni" [(ngModel)]="datosreserva.fechaHasta" class="form-control">
    </div>

    <div class="form-group">
      <label>Fecha Reserva:</label>
      <input type="text" id="input-datos" name="telefono" [(ngModel)]="datosreserva.fechaReserva" class="form-control">
    </div>

    <div class="form-group">
      <label>Id Hab:</label>
      <input type="text" id="input-datos" name="mail" [(ngModel)]="datosreserva.habitacion_id" class="form-control">
    </div>

    <div class="form-group">
      <label>Cantidad Pax:</label>
      <input type="text" id="input-datos" name="contrasenia" [(ngModel)]="datosreserva.cantidadPax"
        class="form-control">
    </div>
    <div class="form-group">
      <label>Id Persona:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.persona_id"
        placeholder="Confirmar" class="form-control">
    </div>
    <div class="form-group">
      <label>Precio Total:</label>
      <input type="text" id="input-datos" name="repassword" [(ngModel)]="datosreserva.precioTotal"
        placeholder="Confirmar" class="form-control">
    </div>
  </div>
  <button class="btn-outline-success" (click)="goBack()" id="a2">Volver</button>
  <br>
  <br>
  <br>
  <br>
</div> -->


  <table class="table table-hover table-dark ">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Fecha de reserva</th>
      <th>Precio Final</th>
      <th>Estado Actual</th>
      <th>ID Habitacion</th>
      <th>Opcion</th>
    </thead>
    <tr *ngFor="let reservas of reserva">
      <td>{{reservas.idReserva}}</td>
      <td class="event">{{reservas.checkIn | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.checkOut | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.fechaReserva | date:'dd/MM/yyyy'}}
        <!-- <div class="date"></div> -->
      </td>
      <td class="event">{{reservas.precioTotal}}
        <!-- <div class="date"></div> -->
      </td>
      <!-- <td class="event">{{reservas.descripcion}}
      </td> -->
      <td align="center" [ngSwitch]="reservas.descripcion">
        <ul *ngSwitchCase="'Disponible'" id="disp">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'No Disponible'" id="noDisp">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Finalizado'" id="fin">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Pendiente'" id="pend">{{reservas.descripcion}}</ul>
        <ul *ngSwitchCase="'Cancelada'" id="canc">{{reservas.descripcion}}</ul>
        <!-- {{reservas.estado}} -->
      </td>
      <td class="event">{{reservas.habitacion_id}}
        <!-- <div class="date"></div> -->
      </td>

      <td [ngSwitch]="reservas.descripcion">
        <button *ngSwitchCase="'Pendiente'" class="btn btn-outline-danger"
          (click)="cancelarReserva(reservas.idReserva)">Cancelar
          Reserva
        </button>
        <!-- <ul *ngSwitchCase="'Pendiente'" class="btn btn-outline-warning"><a (click)="cancelarReserva(reservas.idReserva)"> Cancelar Reserva</a></ul> -->
        <!-- <ul *ngSwitchCase="'Pendiente'" id="pend">{{reservas.descripcion}}</ul> -->

      </td>






    </tr>
  </table>
  <!-- Footer -->
  <footer class="container py-5">
    <div class="row" id="footer">
      <div class="col-12 col-md">
        <svg style="color:ivory;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2"
          role="img" viewBox="0 0 24 24">
          <title>Product</title>
          <circle cx="12" cy="12" r="10"></circle>
          <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
          </path>
        </svg>
        <small class="d-block mb-3 text-muted">© 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5 style="color:chocolate;">Páginas</h5>
        <ul class="list-unstyled text-small">
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="../inicio">Inicio</a></li>
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="....//habitaciones">Habitaciones</a>
          </li>
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="../../nosotros">Nosotros</a></li>
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="../../elhotel">Los Hoteles</a></li>
          <li><a style="color: antiquewhite;" class="link-secondary"
              href="https://api.whatsapp.com/send?phone=+541122554827&text=Quiero%20hacer%20una%20consulta">Consultas
              por WhatsApp</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 style="color:chocolate;">Buscar</h5>
        <ul class="list-unstyled text-small">
          <li><a style="color: antiquewhite;" class="link-secondary" routerLink="../inicio">Otra habitación</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
