h4 {
  color: white;
}

#disp {
  font-weight: bold;
  color: green;
}

#noDisp {
  font-weight: bold;
  color: yellow;
}

#fin {
  font-weight: bold;
  color: red;
}

#pend {

  font-weight: bold;
  color: orange;
}

#canc {
  font-weight: bold;
  color: white;
}
