<div class="table-responsive">
  <div class="col-12">
    <p-toast></p-toast>
    <h1 align="center" style="color: chocolate;">Listado de Habitaciones</h1>

    <div id="first" class="col-sm-2">
      <label id="label">Hotel/Lugar</label> <br>
      <select (change)="selectChangeHandler($event)" id="label2" class="form-select form-select-sm" name="selector">
        <option *ngFor="let hotel of hoteles">
          {{hotel.descripcion}}
        </option>
      </select>
    </div>
    <br>

    <table class="table table-hover table-dark" id="table">
      <thead class="thead-dark">
        <th>Numero de Habitacion</th>
        <th>Categoria</th>
        <th>Ingreso</th>
        <th>Egreso</th>
        <th>Estado</th>
        <th>ID del Hotel</th>
        <th>Validar</th>
      </thead>
      <tr *ngFor="let habitacion of habitaciones" [ngSwitch]="habitacion.estado">
        <td style="font-weight: bold;">{{habitacion.numeroHabitacion}}</td>
        <td style="font-weight: bold;">{{habitacion.descripcion}}</td>
        <td style="font-weight: bold;">{{habitacion.checkIn | date:'yyyy/MM/dd'}}</td>
        <td style="font-weight: bold;">{{habitacion.checkOut | date:'yyyy/MM/dd'}}</td>
        <td style="font-weight: bold;">{{habitacion.desc}}</td>
        <td style="font-weight: bold;">{{habitacion.hotel_id}}</td>
        <td>
          <a *ngSwitchCase="1" class="btn btn-outline-warning"
            (click)="cambiarEstado(habitacion.estado, habitacion.numeroHabitacion, habitacion.checkIn, habitacion.checkOut, habitacion.hotel_id)">Bloquear</a>

          <a *ngSwitchCase="2" class="btn btn-outline-danger"
            (click)="cambiarEstado(habitacion.estado, habitacion.numeroHabitacion, habitacion.checkIn, habitacion.checkOu, habitacion.hotel_id)">Cancelar</a>

          <a *ngSwitchCase="6" class="btn btn-outline-info"
            (click)="cambiarEstado(habitacion.estado, habitacion.numeroHabitacion, habitacion.checkIn, habitacion.checkOut, habitacion.hotel_id)">Desbloquear</a>

          <!-- <a class="btn btn-outline-light btn-block" >Confirmar</a> -->

        </td>
        <!-- (click)=realizarCheckIn(reservas.idReserva) -->
    </table>
    <button class="btn btn-outline-warning" (click)="goBack()" id="a2">Volver</button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
