<div class="container" id="cabecera">

  <h1 id="title">Bienvenido a Hoteles Argentinos</h1>
  <h3>Hoteles ideales para familias y parejas</h3>

  <!-- <div id="header" class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <img src="../../../assets/img/encabezado.png" alt="logo" >
    <h1 class="display-5 fw-bold">Nuestras habitaciones</h1>
    <p class="col-md-8 fs-4" >Conta con todas las comodidades que puedan existir en una sola habitación. Con parrilla, spa, hidromasaje, televisión satelital,
      servicios de masajes, juegos de mesa y mucho más
    </p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="../usuarios/habitaciones" >Ver habitaciones</button>
  </div>
</div>
<br> -->
  <!-- <div class="container">
  <div class="row">
    <div class="col-xl-4">
      <a routerLink="/usuarios/ingresar">Iniciar sesión </a>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
      <a routerLink="/usuarios/registrar"> Registrarse</a>
    </div>
  </div>
</div> -->

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Hoteles De Argentina</h1>
      <p class="lead my-3" style="left: 300px;">Ofrecemos alojamiento 4 estrellas, tenemos hoteles en todo el país.
        Grandes celebridades ya han disfrutado de las comodidades de nuestras
        habitaciones.
        ¿Y vos? ¿Qué estás esperando?
      </p>
    </div>
  </div>

  <!-- Filtro de habitaciones -->
  <form role="form">
    <!-- <div class="container" data-view="accommodation" id="contenedor" name="filtrohabitaciones"> -->
    <div class="contaiener" id="contenedor" name="filtrohabitaciones">
      <div class="row">
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="sel1" id="label">Hotel/Lugar</label>
            <select name="selector" id='sel1'>
              <option *ngFor="let hotel of hoteles">
                {{hotel.descripcion}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-1" id="columna">
          <div class="form-group">
            <label for="sel2" id="label">Adultos</label>
            <select class="form-control" id="sel1">
              <option value="" disabled selected hidden>Seleccione</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-1" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Niños</label>
            <select class="form-control" id="sel1">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Tipo de Camas</label>
            <select class="form-control" id="sel1">
              <option value="" disabled selected hidden>Seleccione</option>
              <option>Camas simples</option>
              <option>Con cama Doble</option>
            </select>
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="ingresoF" id="label">Fecha de llegada</label>
            &nbsp;
            <input type="date" name="llegada">
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="egresoF" id="label">Fecha de Salida</label>
            &nbsp; <input type="date" name="salida">
          </div>
        </div>
        <div class="col-2" id="columnabtn">
          <div class="form-group">
            <a type="submit" class="btn btn-primary btn-block" name="buscar" id="boton" value="Buscar"
              href="usuarios/listarhabitaciones">Buscar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Fin filtro habitaciones -->

  <!-- <form (ngSubmit)="enviarDescripcion(seleccionado)">
    <div class="col-2" id="columna">
      <div class="form-group">
        <label for="sel1" id="label">Hotel/Lugar</label>
        <select name="selector" [(ngModel)]="seleccionado" id='sel1'>
          <option [(ngValue)]="hotel.descripcion" *ngFor="let hotel of hoteles">
            {{hotel.descripcion}}
          </option>
        </select>
      </div>
    </div>
    <button pButton type="submit" class="btn btn-primary" class="btn p-button-rounded">
      <i class="fa fa-sign-in-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;<span>Iniciar sesion</span>
    </button>
  </form> -->

  <form (ngSubmit)="enviarFecha(fecha)">
    <!-- <div class="col-2" id="columna">
      <div class="form-group">
        <label for="sel1" id="label">Hotel/Lugar</label>
        <select name="selector" [(ngModel)]="seleccionado" id='sel1'>
          <option [(ngValue)]="hotel.descripcion" *ngFor="let hotel of hoteles">
            {{hotel.descripcion}}
          </option>
        </select>
      </div>
    </div> -->
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <label for="ingresoF" id="label">Fecha de llegada</label>
      &nbsp;
      <input type="text" placeholder="Fecha" class="form-control" [(ngModel)]="fecha" name="first" bsDatepicker>
    </div>
    <button pButton type="submit" class="btn btn-primary" class="btn p-button-rounded">
      <i class="fa fa-sign-in-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;<span>Enviar Fecha</span>
    </button>
  </form>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Familiar</strong>
          <h3 class="mb-0">Un lugar donde entran todos</h3>
          <p id="textocol" class="card-text mb-auto">Espacio hasta 6 personas, parrilla al aire libre, cancha de croket
            y 2 televisiones con conexión satelital.
            ¿qué mas se puede pedir? ¡Haganse chiquitos que entramos todos!
          </p>
          <a routerLink="/construccion" class="stretched-link">Ver habitación</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/familiar.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Parejas</strong>
          <h3 class="mb-0">Para compartir con esa persona amada</h3>
          <p id="textocol" class="mb-auto">Ideal para disfrutar en pareja, relajar y compartir.
            La habitación incluye spa, hidromasaje, barra desayunadora y un servicio de masaje gratuito por semana de
            estadía.
          </p>
          <a routerLink="/construccion" class="stretched-link">Ver habitación</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/telo.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
        </div>
      </div>
    </div>
  </div>
</div>
