.col-xl-4 {
  text-align: center;
  font-family: times new roman;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
#title {
  text-align: center;
  font-family: times new roman;
  font-style: normal;
  font-weight: 800;
  color: blanchedalmond;
}
h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  color: ivory;
}

#textocol {
  text-align: center;
  font-weight: normal;
  color: lightgoldenrodyellow;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  background-color: #343a40 !important;
}
