<div class="container" id="cabecera">
  <p-toast></p-toast>
  <h1 id="title">Bienvenido a Hoteles Argentinos</h1>
  <h3>Hoteles ideales para familias y parejas</h3>


  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">SISRO Hoteles</h1>
      <p class="lead my-3" style="left: 300px;">Ofrecemos alojamiento 4 estrellas, tenemos hoteles en todo el país.
        Grandes celebridades ya han disfrutado de las comodidades de nuestras
        habitaciones.
        ¿Y vos? ¿Qué estás esperando?
      </p>
    </div>
  </div>
  <!-- Filtro buscar habitacion -->
  <form role="form">
    <!-- <div class="container" data-view="accommodation" id="contenedor" name="filtrohabitaciones"> -->
    <div class="container-lg" name="filtrohabitaciones" id="containerfiltro">
      <div class="row justify-content-sm-center">
        <div class="col-sm-auto" id="columna">
          <div class="form-group">
            <label id="label">Hotel/Lugar</label> <br>
            <select (change)="selectChangeHandler($event)" class="form-select form-select-sm" name="selector">
              <option *ngFor="let hotel of hoteles">
                {{hotel.descripcion}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-auto" id="columna">
          <div class="form-group">
            <label for="sel2" id="label">Personas</label><br>
            <input type="number" [(ngModel)]="personas" name="personas" min="1" max="10">
          </div>
        </div>

        <div class="col-sm-auto">
          <label for="ingresoF" id="label">Check In</label>
          &nbsp;
          <input type="text" placeholder="CheckIn" class="form-select form-select-sm" [(ngModel)]="checkIn" name="first"
            bsDatepicker ngModel [minDate]="minDate"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false, isAnimated: true }">
        </div>
        <div class="col-sm-auto">
          <label for="ingresoF" id="label">Check Out</label>
          &nbsp;
          <input type="text" placeholder="CheckOut" class="form-select form-select-sm" [(ngModel)]="checkOut"
            name="second" bsDatepicker ngModel [minDate]="checkIn" and [maxDate]="maxDate"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false, isAnimated: true }" required>
        </div>
        <div class="col-sm-auto" id="divbutton">
          <div class="form-group">
            <a type="submit" class="btn btn-primary btn-block" name="buscar" id="boton" value="Buscar"
              (click)=enviarDatos()>Buscar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- FINAL Filtro buscar habitacion -->
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Familiar</strong>
          <h3 class="mb-0">Un lugar donde entran todos</h3>
          <p id="textocol" class="card-text mb-auto">Espacio hasta 5 personas, parrilla al aire libre, cancha de
            croket
            y 2 televisiones con conexión satelital.
            ¿qué mas se puede pedir? ¡Haganse chiquitos que entramos todos!
          </p>
          <a routerLink="/construccion" class="stretched-link">Ver habitación</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/familiar.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Parejas</strong>
          <h3 class="mb-0">Para compartir con esa persona amada</h3>
          <p id="textocol" class="mb-auto">Ideal para disfrutar en pareja, relajar y compartir.
            La habitación incluye spa, hidromasaje, barra desayunadora y un servicio de masaje gratuito por semana de
            estadía.
          </p>
          <a routerLink="/construccion" class="stretched-link">Ver habitación</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/telo.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg style="color:ivory;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2"
        role="img" viewBox="0 0 24 24">
        <title>Product</title>
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
        </path>
      </svg>
      <small class="d-block mb-3 text-muted">© 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:chocolate;">Páginas</h5>
      <ul class="list-unstyled text-small">
        <li><a style="color: antiquewhite;" class="link-secondary" routerLink="/nosotros">Nosotros</a></li>
        <li><a style="color: antiquewhite;" class="link-secondary" routerLink="/habitaciones">Habitaciones</a></li>
        <li><a style="color: antiquewhite;" class="link-secondary" routerLink="/contacto">Contacto</a></li>
        <li><a style="color: antiquewhite;" class="link-secondary"
            href="https://api.whatsapp.com/send?phone=+541122554827&text=Quiero%20hacer%20una%20consulta">WhatsApp</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--
<div class="row offset-3">
  <div class="col-2" id="match">
    <h3>Conseguí el jugador que te falta</h3>
    <img class="card-img-top" src="../assets/img/match.jpeg" alt="Card image cap">
    <p id="textocol" class="mb-auto">No te quedes nunca más con un jugador de mes.
      Conseguí el que te falta en MatchMaker 2.0.
      SISRO Hoteles ofrece el servicio de MatchMaker para que armes tus partidos en vacaciones
    </p>

  </div>
  <div class="col-4" id="match">
    <h3>Tecnología de punta</h3>
    <p id="textocol" class="mb-auto">Deja todo en manos de Di Biasi Technology y aproba todas tus materias
    </p>
    <img class="card-img-top" src="../assets/img/dibiasi.jpeg" alt="Card image cap">
    <p id="textocol" class="mb-auto">Adquiriendo cualquier servicio te llevas sin cargo
      una clase magistral de como ser un crack en la vida</p>
  </div>


    <div class="col-2" id="match">
      <h3>Hacete socio</h3>
      <p id="textocol" class="mb-auto">Hacete socio hoy de Ferro y obtene un regalo en SISRO Hoteles
      </p>
    <img class="card-img-top" src="../assets/img/ferro.png" alt="Card image cap">
    <p id="textocol" class="mb-auto">
      Y con el trencito a todas partes.
      Pileta y clases de natación incluidas con tu cuota.
    </p>
  </div>
</div> -->

<!-- Filtro de habitaciones
  <form role="form">
    <!-- <div class="container" data-view="accommodation" id="contenedor" name="filtrohabitaciones">
    <div class="contaiener" id="contenedor" name="filtrohabitaciones">
      <div class="row">
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="sel1" id="label">Hotel/Lugar</label>
            <select name="selector" id='sel1'>
              <option *ngFor="let hotel of hoteles">
                {{hotel.descripcion}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-1" id="columna">
          <div class="form-group">
            <label for="sel2" id="label">Adultos</label>
            <select class="form-control" id="sel1">
              <option value="" disabled selected hidden>Seleccione</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-1" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Niños</label>
            <select class="form-control" id="sel1">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Tipo de Camas</label>
            <select class="form-control" id="sel1">
              <option value="" disabled selected hidden>Seleccione</option>
              <option>Camas simples</option>
              <option>Con cama Doble</option>
            </select>
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="ingresoF" id="label">Fecha de llegada</label>
            &nbsp;
            <input type="date" name="llegada">
          </div>
        </div>
        <div class="col-2" id="columna">
          <div class="form-group">
            <label for="egresoF" id="label">Fecha de Salida</label>
            &nbsp; <input type="date" name="salida">
          </div>
        </div>
        <div class="col-2" id="columnabtn">
          <div class="form-group">
            <a type="submit" class="btn btn-primary btn-block" name="buscar" id="boton" value="Buscar"
              href="usuarios/listarhabitaciones">Buscar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Fin filtro habitaciones


-->

<!-- <form (ngSubmit)="enviarDescripcion(seleccionado)">
    <div class="col-2" id="columna">
      <div class="form-group">
        <label for="sel1" id="label">Hotel/Lugar</label>
        <select name="selector" [(ngModel)]="seleccionado" id='sel1'>
          <option [(ngValue)]="hotel.descripcion" *ngFor="let hotel of hoteles">
            {{hotel.descripcion}}
          </option>
        </select>
      </div>
    </div>
    <button pButton type="submit" class="btn btn-primary" class="btn p-button-rounded">
      <i class="fa fa-sign-in-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;<span>Iniciar sesion</span>
    </button>
  </form> -->


<!-- <div id="header" class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <img src="../../../assets/img/encabezado.png" alt="logo" >
    <h1 class="display-5 fw-bold">Nuestras habitaciones</h1>
    <p class="col-md-8 fs-4" >Conta con todas las comodidades que puedan existir en una sola habitación. Con parrilla, spa, hidromasaje, televisión satelital,
      servicios de masajes, juegos de mesa y mucho más
    </p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="../usuarios/habitaciones" >Ver habitaciones</button>
  </div>
</div>
<br> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xl-4">
      <a routerLink="/usuarios/ingresar">Iniciar sesión </a>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
      <a routerLink="/usuarios/registrar"> Registrarse</a>
    </div>
  </div>
</div> -->

<!-- <div class="col-sm-auto" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Niños</label>
            <select class="form-select form-select-sm" id="sel1">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div> -->
<!-- <div class="col-sm-auto" id="columna">
          <div class="form-group">
            <label for="sel3" id="label">Tipo de Camas</label>
            <select class="form-select form-select-sm" id="sel1">
              <option value="" disabled selected hidden>Seleccione</option>
              <option>Camas simples</option>
              <option>Con cama Doble</option>
            </select>
          </div>
        </div> -->
<!-- <div class="col-sm-auto" id="columna">
          <div class="form-group">
            <label for="ingresoF" id="label">Fecha de llegada</label>
            &nbsp;
            <input type="date" name="llegada">
          </div>
        </div> -->
