#logout {
  cursor: pointer;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.me-2 {
  margin-right: 0.7rem !important;
}
.justify-content-center {
  justify-content: flex-start;
}

#CS {
  margin-left: 80%;
  min-width: 400px;
}
