<h1>Bienvenido Hoteles del Sur</h1>
<h3>Cadena Hotelera con hoteles hasta dentro de las cuevas</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <a routerLink="/usuarios/ingresar">Iniciar sesión </a>
        </div>
        <div class="col-xl-4">
            <a routerLink="/usuarios/registrar"> Registrarse</a>
        </div>
        <div class="col-xl-4">
            <a routerLink="/usuarios/hoteles">Hoteles</a>
        </div>
        <div class="col-xl-4">
            <a href="https://www.google.com.ar">Ir a Google</a>
        </div>
    </div>
</div>