
<main>
    <h1>Nuestros Hoteles</h1>

  
    <div class="container marketing">

  
        <!-- Hoteles -->
      <hr class="featurette-divider">
  
      <div class="row featurette" style="background-color: white;">
        <div class="col-md-7">
          <h2 class="featurette-heading">Hotel Córdoba <span class="text-muted">verde botella, amarillo patito y a disfrutar</span></h2>
          <p class="lead">El mejor servicio imaginado, cerca del cerro uritorco. Actividades de Tracking</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img" width="500" height="420" src="../../../assets/img/hotelcordoba1.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">         
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" style="background-color: white;">
        <div class="col-md-7">
          <h2 class="featurette-heading">Holiday Inn Córdoba<span class="text-muted"> Si existe, este hotel lo tiene</span></h2>
          <p class="lead">El hotel más amplio a nivel servicios de todo Córdoba. Este imponente hospedaje cuenta con servicio de cocina 24hs. Conexión satelitar para video
              conferencias a todo el mundo, Spa y baño de lodo en tu primer día. Shows todas las noches, música, magia, comedia. 
              Jacuzzi y ducha australiana en nuestros espacios recreativos. Pileta climatizada y gimnasio disponibles 24hs.
          </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img" width="500" height="420" src="../../../assets/img/holidayinn.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">         
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" style="background-color: white;">
        <div class="col-md-7">
          <h2 class="featurette-heading">Howard Johnson La Cañada <span class="text-muted">Es todo lo que imaginas y un poco más</span></h2>
          <p class="lead">El hotel elegido por famosos, celebridades y empresarios desde hace decadas.
              Este hotel es el la elegancia misma, con un servicio que la competencia solo pueda soñar. El Howard Johnson La Cañada ofrece 
              el mayor confort del mercado. Con diversas opciones recreativas como excursiones, caminatas y comidas regionales.
              Si queres dejar todas tus precoupaciones detrás de la puerta, este es tu lugar.
          </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img" width="500" height="420" src="../../../assets/img/howard.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">         
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette" style="background-color: white;">
        <div class="col-md-7">
          <h2 class="featurette-heading">NH Córdoba Urbano <span class="text-muted">Cuando la condición es disfrutar</span></h2>
          <p class="lead">Nuestro hotel más elegido. NH Hoteles ofrece el equilibrio justo entre costo y beneficios.
              Pasarla bien nunca fue tan ecónomico. Este hotel ofrece uno de los mejores desayunos de la provincia. Servicios completos
              de habitación. 
          </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img" width="500" height="370" src="../../../assets/img/nh.jpg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">         
        </div>
      </div>
    </div><!-- /.container -->
         <!-- Fin Hoteles -->
  
    <!-- FOOTER -->
    <footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <svg style="color:ivory;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
            <small class="d-block mb-3 text-muted" >© 2017–2021</small>
          </div>
          <div class="col-6 col-md">
            <h5 style="color:chocolate;">Páginas</h5>
            <ul class="list-unstyled text-small">
              <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="/nosotros">Nosotros</a></li>
              <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="/habitaciones">Habitaciones</a></li>
              <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="/contacto">Contacto</a></li>
              <li><a  style="color: antiquewhite;" class="link-secondary" href="https://api.whatsapp.com/send?phone=+541122554827&text=Quiero%20hacer%20una%20consulta">WhatsApp</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 style="color:chocolate;">Reservar</h5>
            <ul class="list-unstyled text-small">
              <li><a  style="color: antiquewhite;" class="link-secondary" routerLink="/">Buscar habitación</a></li>             
            </ul>
          </div>
        </div>
      </footer>
  </main>
