<app-home></app-home>
<div class="main">
    <div class="col-12">
        <h1 align="center" style="color: chocolate;">Habitaciones</h1>
        <table class="table table-hover table-dark ">
          <thead class="thead-dark">
            <th>ID</th>
            <th>Descripción</th>
            <th>Cantidad huéspedes</th>
            <th>Categoría</th>
            <th>Camas</th>
            <th>Valor por día</th>
    
          </thead>   
            <tr *ngFor= "let habitaciones of habitacion">
                <td>{{habitaciones.idHabitacion}}</td>
                <td>{{habitaciones.descripcion}}</td>
                <td>{{habitaciones.cantPax}}</td>
                <td>{{habitaciones.cat_id}}</td>
                <td>{{habitaciones.camas_id}}</td>
                <td style="color: red;">Sin Datos</td>
            </tr>
