<BR>
<h1 align="center">CONFIRMAR RESERVA</h1>
<br>
<br>
<div class="container" style="background-color:black">
  <div class="row">
    <div class="col-lg-4" id="">
      <img class="card-img-top" src="../assets/img/telo.jpg" alt="Card image cap">
    </div>
    <div class="col-lg-4" id="col">
      <br>
      <p>Categoria: <b>{{datosreserva.categoria}}</b></p>
      <hr>
      <!-- <p>Cantidad personas Máxima: <B>{{datosreserva.cantidadPax}}</B></p> -->
      <p>Fecha de Check In: <b>{{datosreserva.checkIn}}</b></p>
      <p>Fecha de Check Out: <b>{{datosreserva.checkOut}}</b></p>
      <hr>
      <p id="titulo" class="card-text">La habitación cuenta con: aire acondicionado, Televisión con Direct Tv, baño con
        jacuzzi,calefacción y frigobar</p>
    </div>
    <div class="col-lg-4">
      <br>
      <b id="titulo" class="card-text">Check In: 15hs / Check Out: 10hs</b>
      <br>
      <br>
      <BR>
      <b id="precio">Precio total: {{datosreserva.precioTotal}}</b>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <a id="boton" routerLink="../../confirmacionreserva" (click)="datosReserva()"
        class="btn btn-outline-success">Confirmar Reserva</a>
        <br>
        <br>
      <a id="boton2" routerLink="../../inicio" class="btn btn-outline-danger">Regresar al Inicio</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>




<!-- <img class="card-img-top" src="../assets/img/telo.jpg" alt="Card image cap">
    <p>Id de la habitacion:</p>
    <B>{{datosreserva.habitacion_id}}</B>
    <p>Cantidad personas Máxima:</p>
    <B>{{datosreserva.cantidadPax}}</B>
    <h6>Servicios</h6>
    <p id="titulo" class="card-text">La habitación cuenta con: aire acondicionado, Televisión con Direct Tv, baño con jacuzzi,calefacción y frigobar
    </p>
    <p id="titulo" class="card-text">Check In: 15hs / Check Out: 10hs</p>
    <b>Precio total:</b>
    <b>{{datosreserva.precioTotal}}</b>
    <br>
    <br>
    <a routerLink="../../confirmacionreserva" class="btn btn-primary">Reservar</a>
    <a routerLink="../../listarhabitaciones" class="btn btn-danger" style="margin: 10px">Volver</a> -->




<!-- <img class="card-img-top" src="../assets/img/parejas2.jpg" alt="Card image cap"> -->
<!-- <div class="card-body">
  <h5 id="titulo" class="card-title">Habitación {{habitacion.idHabitacion}} - {{habitacion.descripcion}} </h5>
  <p id="titulo" class="card-text">Este es un texto de ejemplo donde iria el texto describiendo los
    servicios de la habitación. Precio por noche: $<b>{{habitacion.precio}}</b></p> -->
