
<h1 align="center">Habitación "idHabitacion"</h1>
<div class="container" style="background-color:black">
    <img class="card-img-top" src="../assets/img/telo.jpg" alt="Card image cap">
    <p>Cantidad personas Máxima: $"CantPersonas"</p>
    <h6>Servicios</h6>
    <p id="titulo" class="card-text">La habitación cuenta con: aire acondicionado, Televisión con Direct Tv, baño con jacuzzi,calefacción y frigobar
    </p>
    <p id="titulo" class="card-text">Check In: 15hs / Check Out: 10hs</p>
    <b>Precio total: $"CampoPrecioTotal"</b>
    <br>
    <br>
    <a routerLink="../../confirmacionreserva" class="btn btn-primary">Reservar</a>
    <a (click)="goBack()" class="btn btn-danger" style="margin: 10px">Volver</a>
</div>



<!-- <img class="card-img-top" src="../assets/img/parejas2.jpg" alt="Card image cap"> -->
<!-- <div class="card-body">
  <h5 id="titulo" class="card-title">Habitación {{habitacion.idHabitacion}} - {{habitacion.descripcion}} </h5>
  <p id="titulo" class="card-text">Este es un texto de ejemplo donde iria el texto describiendo los
    servicios de la habitación. Precio por noche: $<b>{{habitacion.precio}}</b></p> -->
