<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">Inicio<span class="sr-only">(current)</span></a>
      <li class="nav-item">
        <a class="nav-link" href="#">Hoteles</a>
      <li class="nav-item">
        <a class="nav-link" routerLink="usuarios/habitaciones">Habitaciones</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Ubicaciones</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Tarifas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="usuarios/ingresar">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="usuarios/registrar">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout" (click)="logout()">Cerrar sesion</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <header class="page-head">
    <a href="#" class="logo">
        <div style="background-image: url('img/encabezado.png');
        top: 0px;
        left: 300px;
        width: 1000px;
        height: 450px;">
        <img src="img/Logo.png" alt="logo">
    </div>
    </a>

    <nav class="menu">

        <a href="#" class="menu-link">Inicio</a>
        <a href="#" class="menu-link">Hoteles</a>
        <a href="#" class="menu-link">Habitaciones</a>
        <a href="#" class="menu-link">Ubicaciónes</a>
        <a href="#" class="menu-link">Servicios</a>
        <a href="#" class="menu-link">Tarifas</a>
        <a href="#" class="menu-link">Iniciar sesión</a>
    </nav>
</header>
<main class="page-container">
 <article class="page"></article>

    <h1>Hoteles en Bariloche, Villa La Angostura y El Bolsón</h1>



    <p>Llegaste a la Patagonia y... ¡a nuestros hoteles! Vas a descubrir vistas impresionantes en sus lagos,
        arroyos, y montañas. Vas a disfrutar el aire del bosque puro y sus estaciones que cambian de tonalidad un mismo paisaje.
        El verano verde con sus largos y soleados días, los variados colores de sus otoños y primaveras, y su blanco manto en invierno.
        También podrás regalarte algunas de las variadas excursiones y actividades deportivas disponibles,
        o regodearte con nuestra variada gastronomía, o simplemente, relajarte y descansar.</p>


</main>
</body> -->
