<div *ngIf="rol == 'admin'">
  <!-- <a routerLink="/admin/habitaciones" class="btn btn-success">ABM Habitaciones</a> -->
<div class="sidenav">
  <a class="navbar-brand" routerLink="../../admin/home">
  <img id="logo" src="../assets/img/logo.png" width="100" height="62">
  </a>
  <br>
  <br>
  <a routerLink="../reservas">Reservas</a>
  <a routerLink="../usuarios">Usuarios</a>
  <!-- <a routerLink="../habitaciones">Habitaciones</a> -->
  <a routerLink="../ingresos">Ingresos</a>
  <a routerLink="../egresos">Egresos</a>
  <a routerLink="../habitaciones">Habitaciones</a>
  <a routerLink="../ajustartarifas">Ajustar Tarifas</a>

</div>



<!-- <div *ngIf="rol == 'user'">
  <h1>Bienvenido user</h1>
  <a routerLink="/usuarios/habitaciones" class="btn btn-success">Ver Habitaciones</a>
</div> -->
