<div *ngIf="rol == 'admin'">
  <h1>Bienvenido admin</h1>
  <!-- <a routerLink="/admin/habitaciones" class="btn btn-success">ABM Habitaciones</a> -->
<div class="sidenav">
  <img id="logo" src="../assets/img/logo.png" width="100" height="62">
  <a routerLink="admin/home">Reservas</a>
  <a routerLink="admin/home">Usuarios</a>
  <a routerLink="admin/home">Habitaciones</a>
</div>
<!-- <div *ngIf="rol == 'user'">
  <h1>Bienvenido user</h1>
  <a routerLink="/usuarios/habitaciones" class="btn btn-success">Ver Habitaciones</a>
</div> -->
